R2_BUCKET_NAME=
R2_ENDPOINT_URL=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=


ENABLE_AUTH=true
OPEN_BUTTON_PORT="1111"
OPEN_BUTTON_TOKEN="1"
JUPYTER_DIR="/"
DATA_DIRECTORY="/workspace/"
PORTAL_CONFIG="localhost:1111:11111:/:Instance Portal|localhost:8000:18000:/:Subtitle Builder"
ENABLE_HTTPS=false